@model Helpline.ViewModels.AdminViewModels.UpdateRequestTypeViewModel

@{
    ViewBag.Title = Model.Name;
}

@using (Html.BeginForm("RequestType", "Administrator", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.RequestTypeId)
    <fieldset>
        <h2 class="text-center">@Model.Name</h2>
        @if(TempData["Error"] != null)
        {
            <p class="text-danger">@TempData["Error"]</p>
        }
        <div class="form-horizontal">            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row justify-content-center">
                <div class="form-group col-12 col-sm-6">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control userField" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12 col-sm-6 col-xl-2">
                    @Html.LabelFor(model => model.IsActive)
                    <select id="IsActive" class="form-control" name="IsActive">
                        @if (Model.IsActive)
                        {
                            <option selected value="True">Active</option>
                            <option value="False">Disabled</option>
                        }
                        else
                        {
                            <option value="True">Active</option>
                            <option selected value="False">Disabled</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-xl-3 offset-xl-2">
                    <input id="submit" type="submit" value="Save" class="btn btn-success mr-1" />
                    @Html.ActionLink("Back to List", "RequestTypes", "Administrator", null, new { @class = "btn btn-primary" })
                </div>
                <div class="col-sm-3">
                    @if (TempData["AlertSuccess"] != null)
                    {
                        <div class="alert alert-success bg-success text-light text-center alert-fade" role="alert">
                            @TempData["AlertSuccess"]
                        </div>
                    }
                    else if (TempData["AlertPreExist"] != null)
                    {
                        <div class="alert alert-danger text-center" role="alert">
                            @TempData["AlertPreExist"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </fieldset>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AdminEdit")
}
