@model Helpline.Models.ForgotViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email or user name</h4>    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group col-sm-6">            
            @Html.LabelFor(model => model.UserName, new {@class = "form-control-label" })
            @Html.TextBoxFor(model => model.UserName, new {@class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, null, new {@class ="text-danger" })            
            <p class="text-danger">@TempData["Error"]</p>            
        </div>
    </div>    
    <div class="row">
        <div class="form-group col-sm-12">            
            <input type="submit" class="btn btn-helpline_color text-light" value="Email Link" />            
        </div>
    </div>
    
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
