@model Helpline.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <hr />
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.UserName, new { @class = "form-control-lablel" })
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Email, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Password, new { @class = "form-control-label" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-control-label" })
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-helpline_color text-light" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
