@model Helpline.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Email, new { @class = "form-control-label" })            
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @TempData["Error"]
            @Html.ValidationMessageFor(model => model.Email, null, new {@class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.Password, new { @class = "form-control-label" })            
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, null, new {@class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-control-label" })            
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })            
        </div>
    </div> 
    <div class="row">
        <div class="form-group col-sm-12">            
            <input type="submit" class="btn btn-md btn-helpline_color text-light" value="Reset Password" />            
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
